.callout{
    padding-left: 12.2em;
    padding-right: 14.8em;
    padding-top: 13.6em;
}

.vertical-componet{
    display: flex;
    margin-bottom: 2.5em;

}

.program-description{
    margin-left: 9em;
}

.program-description>p{
    max-width: 45.9em;
    max-height: 26.2em;

    font-family: 'Akshar';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.2;
}

.program-description>h3{
    height: 42px;

    font-family: 'Abhaya Libre ExtraBold';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 42px;

    color: #000000;
}

.program-visual{
 width: 45em;
 height: 54.3em;

 border-radius: 2.5em;
}