<div class="callout">
    <div class="vertical-componet">
        <img src="https://placehold.co/600x400" alt="A nice placeholder image"/>
        <p>Lorem ipsum dolor sit amet, vix in exerci neglegentur, cum veri nonumy honestatis in. Ad ponderum theophrastus ius. Ea diceret expetendis sed, cum minim suscipit ne, est ad nominavi platonem. Dicta facilisis repudiandae ea vis, ei mei harum malorum. Suscipit perfecto ea has, nam erroribus definitionem no.

Ut sensibus concludaturque has, nonumy partem suscipiantur pro cu, eu oblique contentiones sed. Ea eum feugait tractatos, an aeque singulis mel. Vim solet primis adolescens et, has autem movet consul no. Porro dicunt impedit quo at, summo gloriatur scribentur sit ea.
        </p>
    </div>
    <div class="vertical-componet">
        <img src="https://placehold.co/600x400"  alt="A nice placeholder image"/>
        <p>Lorem ipsum dolor sit amet, vix in exerci neglegentur, cum veri nonumy honestatis in. Ad ponderum theophrastus ius. Ea diceret expetendis sed, cum minim suscipit ne, est ad nominavi platonem. Dicta facilisis repudiandae ea vis, ei mei harum malorum. Suscipit perfecto ea has, nam erroribus definitionem no.

Ut sensibus concludaturque has, nonumy partem suscipiantur pro cu, eu oblique contentiones sed. Ea eum feugait tractatos, an aeque singulis mel. Vim solet primis adolescens et, has autem movet consul no. Porro dicunt impedit quo at, summo gloriatur scribentur sit ea.
        </p>
    </div>
    <div class="vertical-componet">
        <img src="https://placehold.co/600x400"  alt="A nice placeholder image"/>
        <p>Lorem ipsum dolor sit amet, vix in exerci neglegentur, cum veri nonumy honestatis in. Ad ponderum theophrastus ius. Ea diceret expetendis sed, cum minim suscipit ne, est ad nominavi platonem. Dicta facilisis repudiandae ea vis, ei mei harum malorum. Suscipit perfecto ea has, nam erroribus definitionem no.

Ut sensibus concludaturque has, nonumy partem suscipiantur pro cu, eu oblique contentiones sed. Ea eum feugait tractatos, an aeque singulis mel. Vim solet primis adolescens et, has autem movet consul no. Porro dicunt impedit quo at, summo gloriatur scribentur sit ea.
        </p>
    </div>
</div>